.name {
    font-weight: bold;
}

.card-title {
    font-weight: bold;
}

label {
    font-size: 0.78rem;
    font-weight: normal;
}

.yellowmedeva {
    color: #D7B55D;
}

.react-datepicker__input-container input.disabled-datepicker {
    background-color: #e9ecef !important;
}

.react-select--is-disabled, .react-select__control--is-disabled, .react-select__control--is-disabled .react-select__value-container {
    background: #e9ecef !important;
}

.sidebar .sub-menu ul li {
    margin-left: 15px;
}

.sidebar .sub-menu ul li:hover i {
    color: $theme-color-1;
}

.sidebar .sub-menu ul li.active:after {
    display: none;
}

.button-search {
    border-radius: 0 0.1rem 0.1rem 0;
}

.dropdown-button-input {
    border-radius: 0.1rem 0 0 0.1rem;
}

.select-KITAS {
    width: 30%;
}

.input-KITAS {
    width: 70%;
}

.input-group-insurance, .input-group-allergy {
    margin-bottom: 1rem !important;
}

.select-insurance, .select-allergy {
    width: 30%;
}

.input-insurance, .input-allergy {
    // width: 70%;
    // margin-right: 10px;
}

.remove-insurance, .remove-allergy {
    border-radius: 0 0.1rem 0.1rem 0;
}

.schedule-row {
    margin-left: 5px;
    width: 100%;
}

.schedule-separator {
    width: 80%;
}

.remove-schedule {
    // margin-top: 30px;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.page-item {
    padding: 5px;
}

.page-item .page-link {
    line-height: 1;
    min-width: 30px;
    height: 30px;
}

.button-xs {
    // padding: 0.15rem 0.5rem 0.15rem 0.5rem;
    padding: 0.5rem;
    line-height: 1;
}

.center-xy {
    text-align: center;
    vertical-align: middle !important;
}

.icon-column {
    text-align: center;
    vertical-align: middle !important;
    width: 25px;
}

.queue-icon {
    font-size: 1.25em;
}

.queue-text {
    font-size: 0.75em;
}

.patient-badge {
    padding: 0.35em 0.15em !important;
    font-size: 100%;
}

.med-record-badge {
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
}

.med-record-table {
    border: 1px solid #dee2e6;
}

.med-record-table th, .med-record-table td {
    padding: 10px 20px;
}

.med-record-table tr:first-child th, .med-record-table tr:first-child td {
    padding-top: 20px;
}

.med-record-table tr:last-child th, .med-record-table tr:last-child td {
    padding-bottom: 20px;
}

// .menu-hidden .sub-menu, .menu-sub-hidden .sub-menu, .sub-hidden .sub-menu {
//     transform: translateX(-230px);
// }

// .menu-mobile.sub-show-temporary .sub-menu, .sub-show-temporary .sub-menu {
//     transform: translateX(0);
// }

.max-text {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .schedule-row-col-1 {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .responsive-mobile-vertical-xs-2 {
        -webkit-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }

    .responsive-mobile-vertical-xs-5 {
        -webkit-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (min-width: 576px) {
    .modal-record {
        max-width: 800px;
    }
}